<!-- banners_slider.html -->
<div class="container mt-5">
    <div id="bannerCarousel" class="carousel slide rounded shadow-sm" data-ride="carousel">
        <div class="carousel-inner">
            {% for banner in banners %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <a href="{{ banner.link }}">
                    <img src="{{ banner.image.url }}" class="d-block w-100 rounded" alt="{{ banner.title }}">
                </a>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#bannerCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#bannerCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
    </div>
</div>

