{% load static %}  
<header class="header">
<div class="container">
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'main_page' %}"><img src="{% static 'img/logo.svg' %}" alt=""></a>
        <div class="burger">
            <div class="menu-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="">
            <div class="flex">
                <ul class="navbar-nav me-auto top-nav">
                    <li class="nav-item">
                        <div class="dropdown">
                            <a href="{% url 'produktsiya' %}" class="nav-link {% if request.resolver_match.url_name == 'produktsiya' %}active{% endif %}">Продукция</a>
                            <div class="dropdown-content">
                                {% for product_page in product_pages %}
                                <a class="list-item" href="{{ product_page.get_absolute_url }}">{{ product_page.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'contact' %}" class="nav-link {% if request.resolver_match.url_name == 'contact' %}active{% endif %}">Контакты</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'news' %}" class="nav-link {% if request.resolver_match.url_name == 'news' %}active{% endif %}">Новости</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'map' %}" class="nav-link {% if request.resolver_match.url_name == 'map' %}active{% endif %}">Карта</a>
                    </li>
                </ul>
                <ul class="navbar-nav me-auto bottom-nav">
                </ul>
            </div>
            <form class="d-flex" name="search" method="post" action="">
                {% csrf_token %}
                <div class="castom-input">
                    <input class="form-control me-2" name="product" required="required" placeholder="Поиск">
                </div>
                <div class="fl">
                    <div class="lang">
                        <a href="">
                            <img src="{% static 'img/uzbekistan.svg' %}" width="24px" alt="">
                        </a>
                        <a href="">
                            <img src="{% static 'img/rus.png' %}" width="24px" alt="">
                        </a>
                        <a href="">
                            <img src="{% static 'img/Great Britain.svg' %}" width="24px" alt="">
                        </a>
                    </div>
                    <a class="btn mybutton shop" href="{% url 'shop_page' %}">Онлайн магазин</a>
                </div>
            </form>
        </div>
    </div>

    <!-- Мобильное меню -->
    <div class="fix">
        <div class="menu-burger">
            <nav>
                <div class="collapse navbar-collapse" id="">
                    <div class="flex">
                        <ul class="navbar-nav me-auto top-nav">
                        </ul>
                        <ul class="navbar-nav me-auto bottom-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {% if request.resolver_match.url_name == 'produktsiya' %}active{% endif %}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">Продукция</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: auto;">

                                    {% for product_page in product_pages %}
                                    <li><a class="dropdown-item" href="{{ product_page.get_absolute_url }}">{{ product_page.name }}</a></li>

                                    {% endfor %}
                                </ul>

                            </li>
                            <li class="nav-item">
                                <a href="{% url 'contact' %}" class="nav-link {% if request.resolver_match.url_name == 'contact' %}active{% endif %}">Контакты</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'news' %}" class="nav-link {% if request.resolver_match.url_name == 'news' %}active{% endif %}">Новости</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'map' %}" class="nav-link {% if request.resolver_match.url_name == 'map' %}active{% endif %}">Карта</a>
                            </li>
                        </ul>
                    </div>
                    <form class="d-flex" name="search" method="post" action="">
                        {% csrf_token %}
                        <div class="castom-input">
                            <input class="form-control me-2" name="product" required="required" placeholder="Поиск">
                        </div>
                        <div class="fl">
                            <div class="lang">
                               
                            </div>
                            <a class="shop btn mybutton" href="{% url 'shop_page' %}">Онлайн магазин</a>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>
</nav>
</div>
</div>
</div>
<style>
    .nav-link {
        font-size: 17px;
        font-weight: bold;
    }

    .mybutton {
        border-radius: 10px;
        background: #db0011;
        color: #fff;
        width: 165px;
    }

    .lang {
        font-size: 26px;
    }

    .castom-input input {
        width: 250px;
        padding-right: 5px;
        font-size: 10px;
    }

    .lang img {
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); /* Добавляет тень к изображениям флагов */
    }
</style>
