{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
Продукция | Akum.uz 
{% endblock %}


{% block content %}
<div class="container mt-5">
    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}">
                <div class="card-body">
                    <h5 class="card-title mb-2">{{ product.title }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <a href="{{ product.button_link }}" class="btn btn-danger mt-3">{{ product.button_text }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</div>
</div>
{% endblock %}